amqp==5.0.6
beautifulsoup4==4.9.3
billiard==3.6.4.0
bs4==0.0.1
celery==5.0.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
dnspython==1.16.0
eventlet==0.30.2
greenlet==1.0.0
idna==2.10
importlib-metadata==3.10.0
iso8601==0.1.14
kombu==5.0.2
m3u8==0.8.0
m3u8ToMp4==0.2.3
prompt-toolkit==3.0.18
pycryptodome==3.10.1
pytz==2021.1
redis==3.5.3
requests==2.25.1
schedule==1.0.0
selenium==3.141.0
six==1.15.0
soupsieve==2.2.1
SQLAlchemy==1.4.5
typing-extensions==3.7.4.3
urllib3==1.26.4
vine==5.0.0
wcwidth==0.2.5
zipp==3.4.1
